@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #f2ebe3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 90%;
  height: 90vh;
  background-color: white;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card picture .image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-size: cover;
  width: 100%;
}

.content {
  padding: 1rem 1.4rem 0 1.4rem;
}

.content .perfume {
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  letter-spacing: 5px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.content .essence {
  margin-top: 10px;
  margin-bottom: 16px;
  font-family: "Fraunces", sans-serif;
  font-size: 30px;
  color: #1c232b;
  line-height: 30px;
}

.content .paragraph {
  color: #6c7289;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 20px;
}

.content .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .prices p:first-child {
  margin-right: 20px;
  font-size: 30px;
  font-family: "Fraunces", sans-serif;
  color: #3c8067;
}

.content .prices p:last-child {
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  text-decoration: line-through;
}

.content .add-to-cart {
  width: 100%;
  height: 48px;
  border: none;
  margin-top: 20px;
  background-color: #3c8067;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .add-to-cart:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

@media screen and (min-width: 1440px) {
  .card {
    width: 45%;
    height: 56vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card picture .image {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.5rem;
    height: 100%;
    width: auto;
  }
  .card .content {
    padding: 1.5rem 2rem 2rem 2rem;
  }
  .card .content .perfume {
    margin-bottom: 20px;
  }
  .card .content .essence {
    font-size: 2.1rem;
    margin-bottom: 24px;
    line-height: 2.1rem;
  }
  .card .content .prices {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .card .content .prices p:first-child {
    letter-spacing: 1px;
    margin-top: 4px;
  }
  .card .content .prices p:last-child {
    margin-top: 4px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */